.tree-view-container{
    min-width: 100hv;
    width: 350px;
    background: rgb(73, 94, 153);

}
.menu-item{
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    color: white;
}
.menu-list-container{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
}