.active{
    color: #fff700;
}
.inactive{
    color: black;

}
.star-rating {
    font-size: 60px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 50px;
    width: 100vw;
    height: 50vh;
}
